@use 'src/styles/vars';

.main {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .input-search {
    background-color: vars.$lightBlue;
    border-color: transparent;
    width: 15em;
    font-family: vars.$contentFont;
    padding: 0.5em;
    color: vars.$darkBlue;
    align-self: center;
    border-radius: 5px;
    box-shadow: 1px 2px 10px vars.$darkBlue;
    font-weight: bold;
  }

  
  .patients-small-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    margin-top: 0.5em;
    overflow: auto;

    .patient-small {
      width: 80%;
      .patient-small-content {
        padding: 1em;
        display: flex;
        justify-content: space-between;
        background-color: vars.$lightBlue;
  
        h2 {
          font-family: vars.$contentFont;
          font-size: 1em;
        }
  
        p {
          font-family: vars.$contentFont;
        }
  
          .patient-small-link {
            font-weight: 700;
            color: vars.$darkBlue;

            &:hover {
              text-decoration: underline;
            }
            }
          }
        }
      }
  .patients-small-content>.patient-small:nth-child(even){
  .patient-small-content{
    background-color: white;
  }
  }
  //.patients-small>.patient-small:nth-child(even){
  //  background-color: white;
  //}
  
  button {
    margin:1em;
    color: white;
    padding: 1em;
    border-color: transparent;
    background-color: vars.$darkBlue;
    font-family: vars.$contentFont;
    font-weight: bold;
  }

  hr{
    background-color: vars.$green;
    width: 5em;
    margin: 1.5em auto;
  }

  .addPatient-element{
    color: white;
    font-weight: bold;
    background-color: vars.$darkBlue;
    padding: 0.5em;
    margin: 0.8em auto;
    text-align: center;
    width: 15em;
  }
}

@media (min-width : 950px) {
  .main {
    .input-search {
      width: 40em;
    }
    .patients-small-content {

      .patient-small {
        width: 40em;
      }
    }
    .addPatient-element {
      width: 40em;
    }
  }
}

@media (min-width: 700px) {
  .main {
    .patients-small-content {
      height: 400px;
    }
  }
}
