@use 'src/styles/vars';

.header {
  width: 100%;
  height: 6em;
  background-color: vars.$darkBlue;
  color: white;
  font-family: vars.$titleFont;
  text-align: center;
  position: relative;

  .home-button {
    border-radius: 100%;
    background-color: vars.$pink;
    position: absolute;
    left: 0;
    margin-left: 2em;
    padding: 0.5em 0.7em;
    font-size: 0.6em;
  }
  
  .header-infos {
    .header-title {
      font-size: 2em;
    }
  }

  .logout-button {
    position: absolute;
    right: 0;
    margin-right: 2em;
    background-color: vars.$pink;
    padding: 0.5em 0.7em;
    border-radius: 100%;
    font-size: 0.6em;
  }
}

.main {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  .input-search {
    background-color: vars.$lightBlue;
    border-color: transparent;
    width: 20em;
    font-family: vars.$contentFont;
    padding: 0.5em;
    color: vars.$darkBlue;
    align-self: center;
  }

  
  .patients-small {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    height: 250px;
    margin-top: 0.5em;
    overflow: auto;

    .patient-small {
      width: 20em;
      .patient-small-content {
        padding: 1em;
        display: flex;
        justify-content: space-between;
        background-color: vars.$lightBlue;
  
        h2 {
          font-family: vars.$contentFont;
          font-size: 1em;
        }
  
        p {
          font-family: vars.$contentFont;
        }
  
          .patient-small-link {
            &:hover {
              text-decoration: underline;
            }
            }
          }
        }
      }
  .patients-small>.patient-small:nth-child(even){
  .patient-small-content{
    background-color: white;
  }
  }
  //.patients-small>.patient-small:nth-child(even){
  //  background-color: white;
  //}
  
  button {
    margin:1em;
    color: white;
    padding: 1em;
    border-color: transparent;
    background-color: vars.$darkBlue;
    font-family: vars.$contentFont;
    font-weight: bold;
  }

  hr{
    background-color: vars.$green;
    width: 5em;
    margin: 1.5em auto;
  }

  .addPatient-element{
    color: white;
    background-color: vars.$darkBlue;
    padding: 0.5em;
    margin: 0.8em;
    text-align: center;
  }
}



  
