@use 'reset';
@use 'vars';

body {
  background-image: url('src/assets/images/pansementOpacity.png');
  background-size: 200px;
  background-attachment: fixed;
  background-position: initial; 
  width: 100%;
}



