@use 'src/styles/vars';

#root {
  width: 100%;
  background-color: rgba(white, 0.7);
  .app {
    font-family: vars.$contentFont;
    border: 5px solid vars.$darkBlue;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}


