@use 'src/styles/vars';

.login-form {

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 5em;
  width: 15rem;
  margin: auto;

  .login-form-element {
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;

    .field {
      .field-input {
        width: 12rem;
        border: transparent;
        background-color: vars.$lightBlue;
        color: vars.$darkBlue;
        padding: 1.5em;
        height: 2em;
        text-align: center;
        box-shadow: vars.$boxShadowValueNoColor vars.$darkBlue;
        border-radius: vars.$borderRadius;

        &:first-child {
          margin-bottom: 0.5em;
        }
      }
    }

    .login-form-button {
      margin-top: 0.5em;
      width: 12rem;
      border: transparent;
      font-weight: 700;
      font-size: 1em;
      background-color: vars.$darkBlue;
      color: white;
      box-shadow: vars.$boxShadowValueNoColor vars.$darkBlue;
      border-radius: vars.$borderRadius;

      width: 12rem;
      padding: .7em;
      height: 2.5em;
    }
  }

  .log-create-account {
    font-weight: 700;
    font-size: 1em;
    color: vars.$darkBlue;
    width: 12rem;
    text-align: center;

  }

  .forgot-password-button {
    //background-color: vars.$lightBlue;
    border: transparent;
    margin-bottom: 1em;
    font-weight: 700;
    font-size: 1em;
    color: vars.$darkBlue;
    width: 12rem;
    padding: .7em;
    height: 2.5em;
    //box-shadow: vars.$boxShadowValueNoColor vars.$darkBlue;
    border-radius: vars.$borderRadius;
  }

  .logo {
    display: flex;
    justify-content: center;
    margin: 1em;

    .logo-pic-login {
      width: 12rem;
    }
  }

}

// CSS for the lossing password popup

.popup {

  height: auto;
  width: 40%;
  position: absolute;
  top: 5em;
  left: 35%;
  cursor: pointer;
  background-color: vars.$darkBlue;
  box-shadow: 1px 2px 10px #000;
  border-radius: vars.$borderRadius;
  opacity: 0.95;
  padding: 1em;
  z-index: 1000;

  .password-popup {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;

    .password-popup-title {

      color: #fff;
      font: vars.$contentFont;
      font-size: 2em;
      font-weight: 600;
      padding: 0.2em;
      margin: 0.5em 0.8em;
    }

    .password-popup-text {

      color: #fff;
      font: vars.$contentFont;
      font-size: 1.1em;
      font-weight: 600;
      margin: 0.7em 0 1.5em 0.8em;
      padding: 0.2em;
    }

    .password-popup-input {
      padding: 0.5em;
      border-radius: .2em;
      background-color: vars.$lightBlue;
      box-shadow: 1px 2px 10px vars.$lightBlue;
      border: none;
      text-align: center;
      margin-bottom: 1em;
    }

    .buttons {

      margin-top: 1em;
      display: flex;
      flex-direction: row;
      justify-content: space-around;


      .password-button {
        border: none;
        box-shadow: 1px 2px 10px #000;
        font-weight: bold;
        background-color: vars.$darkBlue;
        width: 30%;
        color: white;
        padding: 0.8em;
        margin-bottom: 0.5em;

        &:last-child {
          color: vars.$pink;
        }
      }


    }

  }
}

@media (max-width: 700px) {

  .popup {

    height: auto;
    width: 80%;
    position: absolute;
    top: 5em;
    left: 2.5em;
    cursor: pointer;
    background-color: vars.$darkBlue;
    box-shadow: 1px 2px 10px #000;
    border-radius: vars.$borderRadius;
    opacity: 0.95;
    padding: 1em;
    z-index: 1000;

    .password-popup {

      display: flex;
      flex-direction: column;
      justify-content: space-between;


      .password-popup-title {
        color: #fff;
        font: vars.$contentFont;
        font-size: 1.5em;
        font-weight: 600;
      }

      .password-popup-text {

        color: #fff;
        font: vars.$contentFont;
        font-size: 1.1em;
        font-weight: 600;
        margin: 0.7em 0 1.5em 0.8em;
        padding: 0.2em;
      }

      .password-popup-input {
        padding: 0.5em;
        border-radius: .2em;

      }

      .buttons {

        margin-top: 1em;
        display: flex;
        justify-content: space-around;

        .password-button {}
      }

    }
  }
}


// CSS for reset password components

.reset-password-section-Update {

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-top: 3em;

  .reset-password-title {

    font: vars.$contentFont;
    font-size: 1.5em;
    font-weight: 600;
    padding: 0.2em;
  }

  .reset-password-text {

    font: vars.$contentFont;
    font-size: 0.9em;
    font-weight: 600;
    margin: 0.8em 0 1.5em 0;
    padding: 0.2em;
  }

  .reset-password-list {

    font: vars.$contentFont;
    font-size: 0.9em;
    font-weight: 600;
    padding: 0.2em;
  }

  .reset-password-container {
    width: 60%;
    margin: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;

    .reset-password-input {

      width: 60%;
      border: transparent;
      background-color: vars.$lightBlue;
      color: black;
      margin: 0.4em;
      padding: 1em;
      height: 2em;
      text-align: center;
      box-shadow: vars.$boxShadowValueNoColor vars.$darkBlue;
      border-radius: vars.$borderRadius;

    }

    .reset-password-buttons {
      margin-top: 1em;
      width: 40%;


      .reset-password-button {
        font: vars.$contentFont;
        color: #fff;
        background-color: vars.$darkBlue;
        border-radius: vars.$borderRadius;
        box-shadow: vars.$boxShadowValueNoColor vars.$darkBlue;
        padding: 0.5em;
        margin: 0.3em;
        border: none;
        font-weight: 700;

        &:last-child {

          color: vars.$pink;
        }
      }
    }

  }
}

@media (min-width: 740px) {
  .login-form {
    * {
      width: 12rem;
    }
  }
}
