@use 'src/styles/vars';

.main-about {
  padding: 1em;
  color: vars.$darkBlue;

  .about-title {
    color: vars.$darkBlue;
    font-family: vars.$titleFont;
    font-size: 2em;
    text-align: center;
    margin: 0.5em;
  }
  .about-content {
    background-color: vars.$lightBlue;
    color: vars.$darkBlue;
    padding: 1em;
    margin-bottom: 1.5em;
    line-height: 1.8em;
    font-size: 1.2em;
    strong {
      font-weight: bold;
    }
  }
  .avatar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .avatar-element {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      .avatar-pic {
        width: 10em;
        margin: 1em;
      }
      .avatar-name {
        font-family: vars.$titleFont;
        font-size: 1.5em;
        margin-bottom: 0.5em;
      }
    }
  }
}

@media (min-width: 450px) and (max-width: 1000px) {
  .main-about {
    .avatar {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      .avatar-element {
        width: 50%;
      }
    }
  }
}

@media (min-width: 1000px) {
  .main-about {
    .avatar {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      .avatar-element {
        width: 30%;
      }
    }
  }
}

