@use '../../styles/vars';

.header {
  width: 100%;
  height: 6em;
  background-color: vars.$darkBlue;
  color: white;
  font-family: vars.$titleFont;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;

  .header-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    .header-title {
      font-size: 2em;
      width: 100%;
    }
    .date {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      time {
        font-size: 1.5em;
        margin-right: 1em;
      }
    }
  }

  .logout-button {
    position: absolute;
    right: 0;
    margin-right: 2em;
    background-color: vars.$pink;
    padding: 0.5em 0.7em;
    border-radius: 100%;
    font-size: 0.6em;
  }
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  .logo-pic {
    width: 55%;
  }
}

.nav {
  display: flex;
  flex-direction: column;


  .nav-element {
    width: 50%;
    height: 11.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-link {
    border-radius: 100%;
    padding: 2.5em 0.5em;
    font-weight: bold;
    max-width: 60%;
    text-align: center;
    font-size: 0.8em;
    text-transform: uppercase;
    box-shadow: 3px 5px 5px rgba(#2C3C4B, 0.7);
  }

  .nav-top {
    display: flex;
    flex-direction: row;

    .nav-element {
      &.patient {
        background-color: vars.$darkBlue;
        .nav-link {
          background-color: vars.$lightBlue;
          color: vars.$darkBlue;
          box-shadow: 3px 5px 5px rgba(vars.$mediumGrey, 0.7);
        }
      }

      &.agenda {
        background-color: vars.$lightBlue;
        .nav-link {
          background-color: vars.$darkBlue;
          color: white;
        }
      }
    }
  }
  
  .nav-bottom {
    display: flex;
    flex-direction: row;

    .nav-element {
      &.tour {
        background-color: white;
        width: 100%;
        border: 10px solid vars.$pink;
        .nav-link {
          background-color: vars.$darkBlue;
          color: white;
          max-width: 40%;
          font-size: 1em;
        }
      }
    }
  }
}

@media (min-width: 320px){
  .nav {
    .nav-link {
      padding: 3.5em 0.5em;
    }
  }
  
}

@media (min-width: 740px) {
  .logo {
    .logo-pic {
      width: 35%;
      margin: 2em;
    }
  }
 
}
