@use '../../styles/vars';

.header {
  width: 100%;
  height: 6em;
  background-color: vars.$darkBlue;
  color: white;
  font-family: vars.$titleFont;
  text-align: center;
  position: relative;

  .home-button {
    border-radius: 100%;
    background-color: vars.$pink;
    position: absolute;
    left: 0;
    margin-left: 2em;
    padding: 0.5em 0.7em;
    font-size: 0.6em;
  }
  
  .header-infos {
    .header-title {
      font-size: 2em;
    }
  }

  .logout-button {
    position: absolute;
    right: 0;
    margin-right: 2em;
    background-color: vars.$pink;
    padding: 0.5em 0.7em;
    border-radius: 100%;
    font-size: 0.6em;
  }
}
.main {
  margin-top: 2em;

  .legend {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0.5em;

    *:not(:last-child) {
      margin-right: 1em;
    }
    
    .legend-button {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      
      button {
        background-color: vars.$darkBlue;
        color: white;
        border-radius: 100%;
        font-size: 0.1em;
      }
    }
  }

  .taskTodo {
    position: relative;
    background-color: vars.$lightBlue;
    margin: 1em;
    color: vars.$darkBlue;

    .return-button {
      display: none;
    }

    &.archive {
      background-color: vars.$lightGrey;
      .appointment-hour {
        background-color: vars.$mediumGrey;
      }

      .archive-button {
        display: none,
      }

      .return-button {
        display: block;
      }
    }

    &.canceled {
      background-color: vars.$lightGrey;
      text-decoration: line-through;
      text-decoration-thickness: 2px;
  
      .appointment-hour {
        background-color: vars.$mediumGrey;
        text-decoration: line-through;
        text-decoration-thickness: 2px;
      }

      .canceled-button {
        display: none;
      }

      .return-button {
        display: block;
      }
    }

    .appointment-hour {
      position: absolute;
      left: 0;
      background-color: vars.$green;
      width: 50px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
    }

    .appointment-patient {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .appointment-infos {
        margin-left: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1em;
    
        span:not(:last-child) {
          margin-right: 0.5em;
          font-weight: bold;
        }
    
        .lastname {
          text-transform: uppercase;
        }
    
        .appointment-reason {
          margin-left: 0.5em;
        }
      }
    
      .checked {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-self: center;
        margin: 0.5em;
        *{
          background-color: vars.$darkBlue;
          color: white;
          border-radius: 100%;
          font-size: 1px;
        }
      }
    }
  }
}

@media (min-width: 740px) {
  .main {
    .taskTodo {
      .appointment-patient {
        .checked {
          flex-direction: row;
          * {
            font-size: 2px;
          }
        }
      }
    }
  }
}

