@use 'src/styles/vars';

.calendar {
  position: relative;
  z-index: 1;
  color: vars.$darkBlue;
  font-weight: 900;

  .rbc-time-content {
    display: inherit;
    flex-direction: row;
  }

  .rbc-toolbar {
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .rbc-toolbar-label {
      color: vars.$pink;
      font-size: x-large;

    }
  }


  .popup {
    width: 45%;
    position: absolute;
    top: 25%;
    left: 30%;
    cursor: pointer;
    background-color: vars.$darkBlue;
    opacity: 0.9;
    box-shadow: vars.$boxShadowValueNoColor vars.$green;
    border-radius: vars.$borderRadius;
    padding: 1em;
    z-index: 1000;

    .form-popup {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2em;

      .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;

        margin-top: 1.5em;


        .button {
          padding: 0.5em;
          background-color: vars.$pink;
          box-shadow: vars.$boxShadowValueNoColor vars.$lightBlue;
          border-radius: vars.$borderRadius;

        }

      }

      input {
        border-radius: vars.$borderRadius;
        background-color: vars.$lightBlue;
        padding: 0.5em;
        box-shadow: vars.$boxShadowValueNoColor vars.$lightBlue;
        border: none;
      }

      select {
        border-radius: vars.$borderRadius;
        margin-top: 1em;
        padding: 0.5em;

      }

      .datepickers {

        padding: 0;
        margin: 1em;

        .react-datepicker-wrapper {
          .react-datepicker__input-container {
            align-items: center;
            margin-bottom: 1em;
            input {
              border-radius: vars.$borderRadius;

            }
          }
        }
      }


    }

  }

}

@media (max-width: 700px) {
  .calendar {

    //popup date RDV
    .popup {


      width: 80%;
      position: absolute;
      top: 25%;
      left: 10%;
      cursor: pointer;
      background-color: vars.$darkBlue;
      opacity: 0.9;
      // background-color: rgba(168, 168, 168, 0.815);
      box-shadow: vars.$boxShadowValueNoColor vars.$green;
      padding: 0.5em;
      z-index: 1000;

      .form-popup {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // button validation/annuler/suppression
        .buttons {
          display: flex;
          align-items: center;
          flex-direction: column;
          margin-top: 1.5em;


          .button {
            padding: 0.5em;
            background-color: vars.$pink;
            box-shadow: vars.$boxShadowValueNoColor vars.$lightBlue;
            border-radius: vars.$borderRadius;
          }
        }

        // zone des datePicker
        .datepickers {
          display: flex;
          text-align: center;
          margin-top: 0.5em;

          .react-datepicker__input-container {

            input {
              width: 100%;
              background-color: vars.$lightBlue;
              padding: 0.5em;
              border-radius: vars.$borderRadius;
            }
          }
        }

        //input de date ->popup
        .popup-input {
          background-color: vars.$lightBlue;
          padding: 0.8em;
          margin: 0.5em 0 0.5em 0;
          border-radius: vars.$borderRadius;
        }

        input {
          border-radius: vars.$borderRadius;

        }
      }





    }


  }
}
