@use 'src/styles/vars';

.calendar {
  position: relative;
  z-index: 1;
  color: vars.$darkBlue;
  font-weight: 900;

  .popup {

    //display: inline-block;
    height: 52%;
    width: 80%;
    position: absolute;
    top: 25%;
    left: 30%;
    cursor: pointer;
    background-color: vars.$darkBlue;
    opacity: 0.9;
    box-shadow: vars.$boxShadowValueNoColor vars.$green;
    border-radius: vars.$borderRadius;

    padding: 0.5em;
    z-index: 1000;



    .form-popup {

      align-items: center;
      padding: 1em;

      .popup-input {}

      .datepickers {

        padding: 0;

        .react-datepicker-wrapper {
          .react-datepicker__input-container {
            align-items: center;
          }
        }
      }

      .buttons {
        display: inline;

        margin-top: 1.5em;

        .button {
          padding: 0.5em;
          background-color: vars.$pink;
          box-shadow: vars.$boxShadowValueNoColor vars.$lightBlue;
          border-radius: vars.$borderRadius;
        }


      }
    }

  }




  @media (max-width: 700px) {
    .calendar {

      //popup date RDV
      .popup {

        height: 35%;
        width: 80%;
        position: absolute;
        top: 25%;
        left: 10%;
        cursor: pointer;
        background-color: vars.$darkBlue;
        opacity: 0.9;
        // background-color: rgba(168, 168, 168, 0.815);
        box-shadow: vars.$boxShadowValueNoColor vars.$green;
        padding: 0.5em;
        z-index: 1000;

        .form-popup {
          // zone des datePicker
          .datepickers {
            display: flex;
            text-align: center;
            margin-top: 0.5em;

            .react-datepicker__input-container {

              input {
                width: 100%;
                background-color: vars.$lightBlue;
                padding: 0.5em;
                border-radius: vars.$borderRadius;
              }
            }
          }

          // button validation/annuler/suppression
          .buttons {
            display: inline;
            margin-top: 1.5em;

            .button {
              padding: 0.5em;
              background-color: vars.$pink;
              box-shadow: vars.$boxShadowValueNoColor vars.$lightBlue;
              border-radius: vars.$borderRadius;
            }
          }
        }
        //input de date ->popup
        .popup-input {
          background-color: vars.$lightBlue;
          padding: 0.8em;
          margin: 0.5em 0 0.5em 0;
          border-radius: vars.$borderRadius;
        }


      }


    }
  }
}
