@use 'src/styles/vars';

// Css for the button to go to the settings page.
.settings-button {
  position: absolute;
  right: 0;
  margin-right: 8em;
  background-color: vars.$lightGrey;
  color: vars.$darkBlue;
  padding: 0.5em 0.7em;
  border-radius: 100%;
  font-size: 0.6em;
}

// CSS for the setting component
.settings-container {

  .settings-section-Update {
      display: flex;
      flex-direction: column;
      align-items: center;
  
    .settings-title {
      font: vars.$contentFont;
      font-size: 1.5em;
      font-weight: 600;
      padding: 0.2em;
      margin: 0.5em 0.8em;
    }

    .settings-text {
      font: vars.$contentFont;
      font-size: 0.9em;
      font-weight: 600;
      margin: 0.5em 0 1.2em 0.8em;
      padding: 0.2em;

    }

    .settings-list {
      font: vars.$contentFont;
      font-size: 0.9em;
      font-weight: 600;
      padding: 0.2em;
      margin-top: 0.3em;
    }

    .settings-form {
      width: 60%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      .settings-input {}

      .settings-validation-button {
        font: vars.$contentFont;
        color: white;
        background-color: vars.$darkBlue;
        padding: 0.5em;
        margin: 0.3em 0 3em 0;
        text-align: center;
        border: none;
      }
      .settings-validation-button-delete {
        background-color: vars.$pink;
        border: none;
      }
    }
  }

}
